# AirBnB Review Topic Modeling

## Get Review Sentiment

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns; sns.set()

from textblob import TextBlob

## Load Data

In [3]:
# Select City
country = 'united-states'
city = 'san-francisco'

# Directory
directory = '../data/' + country + '/' + city + '/'

# Load Reviews
reviews = pd.read_csv(directory + 'interim/review_wrangled.csv', sep=';', lineterminator='\n').drop(columns=['Unnamed: 0'])

## Clean

In [30]:
ID_COLS = ['listing_id','id','date','comments','tokens','tokens_count']

reviews_sentiments = reviews[ID_COLS]

## Sample

In [32]:
reviews_sentiments['comments'][0]

"Our experience was, without a doubt, a five star experience. Holly and her husband, David, were the consummate hosts; friendly and accomodating while still honoring our privacy. The apartment was a charming layout with a full view and access to the home's garden The location is perfect for full engagement with the city; close to mass transit with walking proximity to the Haight, the Mission, the Castro and Golden Gate Park. I can't wait for our next visit.\r \r Ted and Karen Wingerd"

In [31]:
blob = TextBlob(reviews_sentiments['comments'][0])
blob.sentiment.polarity

0.503125

## Get Sentiments

In [33]:
def get_sentiment(review):
    """Get Review Sentiment"""
    blob = TextBlob(review)
    return blob.sentiment.polarity

In [35]:
# Get Sentiments for each Comment
reviews_sentiments.loc[:,'sentiment'] = reviews_sentiments['comments'].apply(get_sentiment)

/anaconda3/lib/python2.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [53]:
reviews_sentiments.head()

,listing_id,id,date,comments,tokens,tokens_count,sentiment
0,958,5977,2009-07-23,"Our experience was, without a doubt, a five st...","['experience', 'without', 'doubt', 'five', 'st...",47,0.503125
1,958,6660,2009-08-03,Returning to San Francisco is a rejuvenating t...,"['returning', 'san', 'francisco', 'rejuvenatin...",36,0.464286
2,958,11519,2009-09-27,We were very pleased with the accommodations a...,"['pleased', u'accommodation', 'friendly', 'nei...",67,0.214444
3,958,16282,2009-11-05,We highly recommend this accomodation and agre...,"['highly', 'recommend', 'accomodation', 'agree...",43,0.264333
4,958,26008,2010-02-13,Holly's place was great. It was exactly what I...,"['holly', 'place', 'great', 'exactly', 'needed...",23,0.353750

## Export

In [52]:
# Export Review Sentiments
reviews_sentiments.to_csv(directory + 'processed/review_sentiments.csv')

# Sample

In [37]:
reviews_sentiments.head()

,listing_id,id,date,comments,tokens,tokens_count,sentiment
0,958,5977,2009-07-23,"Our experience was, without a doubt, a five st...","['experience', 'without', 'doubt', 'five', 'st...",47,0.503125
1,958,6660,2009-08-03,Returning to San Francisco is a rejuvenating t...,"['returning', 'san', 'francisco', 'rejuvenatin...",36,0.464286
2,958,11519,2009-09-27,We were very pleased with the accommodations a...,"['pleased', u'accommodation', 'friendly', 'nei...",67,0.214444
3,958,16282,2009-11-05,We highly recommend this accomodation and agre...,"['highly', 'recommend', 'accomodation', 'agree...",43,0.264333
4,958,26008,2010-02-13,Holly's place was great. It was exactly what I...,"['holly', 'place', 'great', 'exactly', 'needed...",23,0.353750

In [43]:
def print_sentiments(data):
    '''Print Sentiment'''
    for index in data.index:
        review = data.loc[index]
        
        print('\n\nReview:')
        print(str(review['comments']))
        print('\nSentiment: ' + str(review['sentiment']))

## Most Positive

In [45]:
most_positive = reviews_sentiments.sort_values('sentiment', ascending=False)

In [47]:
print_sentiments(most_positive.head())

Review:
Great stay!

Sentiment: 1.0


Review:
Great location in the sunset!

Sentiment: 1.0


Review:
everything is perfect!

Sentiment: 1.0


Review:
Awesome Host.

Sentiment: 1.0


Review:
A best host ever in my Airbnb experience.

Sentiment: 1.0

## Most Negative

In [48]:
most_negative = reviews_sentiments.sort_values('sentiment', ascending=True)

In [49]:
print_sentiments(most_negative.loc[:])

Review:
" , , Airbnb ", : ( ), ( ) ? , ?! !"  , 3 , Kenix B&B , , , , , , , , ,

Sentiment: -1.0


Review:
Appartement tr s bien situ  et au calme. Nous avons appr ci  l'accueil de Julia, la propret  de l'appartement, le confort des lits, l' quipement de l'appartement, les produits d'entretien et les produits de base   l'arriv e .... et le parking dans un garage !  Merci Julia !

Sentiment: -1.0


Review:
Die Lage des Zimmers in SF ist prima, recht zentral. Zimmer, Bad und Ausstattung sind wie beschrieben, also gut! Jay ist sehr verl sslich; er kommuniziert "sofort", ist hilfsbereit und entgegenkommend: Der Wohn-Essbereich ist nett gestaltet und wir durften z.B. seinen Kaffeeautomaten nebst Kaffee oder Cerealien und Milch mit nutzen. Das Preis-/Leistungsverh ltnis halten wir somit f r SF angemessen. Fazit: F r 2 Personen ist die Unterkunft prima! Bei Belegung mit 3 Erwachsenen ist das Zimmer "voll belegt". Sehr zu empfehlen!

Sentiment: -1.0


Review:
Ambiance tr s sympa mais dortoir minuscule et tr s bruyant. Pour le prix, nous avons trouv   a d cevant. 50  la nuit pour un dortoir de 6 personnes avec un mec qui vomit toute la nuit dans les toilettes   c t , c'est un peu cher pay ... Cependant le personnel est tr s sympa et c'est un bon moyen de faire des rencontres. Attention, quartier pas terrible le soir, faites gaffe si vous avez des v los   les monter au deuxi me  tage !!

Sentiment: -1.0


Review:
terrible parking

Sentiment: -1.0